{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}

            <button type="button" class="btn btn-link"><a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a></button>
            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
